body {
  margin: 0;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main h1 {
  font-size: 36px;
}

main p {
  font-weight: 400;
  font-size: 20px;
}

main ul {
  list-style: none;
  padding-left: 10px;
  line-height: 1.5;
}
main ul li a {
  text-decoration: none;
  color: #4e75ff;
  font-size: 20px;
}

main ul li a:hover {
  text-decoration: underline;
}
